/* style.css */

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff8f0; /* Fond crème */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #f77f00;
    border-right: 5px solid #f77f00;
}

#titre-site {
    color: #f77f00; /* Orange vif */
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    margin-bottom: 10px;
}

#sous-titre {
    color: #8ac926; /* Vert clair – rappel de la Côte d’Ivoire */
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    background-color: #fcbf49;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 12px;
    font-size: 1.1em;
    border-radius: 6px;
}

button:hover {
    background-color: #f77f00;
}